.content-area {
    text-align: center;
}
.banner-sec
{
    position: relative;
}
.outer-bg {
        overflow: hidden;
    background-color: #fff;
}
.page-careers
{
    font-size: 12px;
}
.page-careers .table-header li
{
list-style: none;
}
.message_applay p{
    width: 440px;
    padding: 30px 10px 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
}
.page-careers .job-details {
    padding: 2em 0em;
   
}
.job-details.accordion-section-content.collapse {
    text-align: left;
    padding: 30px;
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
}
.job li .icon-sec h5 {
    position:relative;
    color: #F2871F;
}    
.job li .icon-sec h5:before {
    content: "+";
    font-family: FontAwesome;
    left:48px;
    position:absolute;
    top:0;
 }
.carousel-inner.blog-sec
 {
height:300px;
 }
 .job li .icon-sec.icon-change h5:before {
    content: "-";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    left:48px;
    position:absolute;
    top:0;
 }
.mb-0 .fa
{
    display: none;
}
.page-careers h3.new-style.inner-title {
    text-transform: uppercase;
    color: #541b7a;
    font-weight: normal;
}
.page-careers .form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}
.page-careers .middle-block p{font-size:17px;}
.page-careers .form-group input, .page-careers .form-group textarea {
    display: block;
    background: none;
    padding: 2px 2px 1px;
    font-size: 1rem;
    border-width: 0;
    xborder-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    transition: all 0.28s ease;
    box-shadow: none;
    border-bottom: 1px solid #999999;
}
.our-team{padding: 40px 0px;padding-top:120px;}
.our-team .container .main{margin: 40px 0;}
.our-team .img img {
    width: 150px;
    padding-bottom: 30px;
}
.section_content{
    text-align: center;
    padding: 15px 10px 15px;
    background-color: white;
    box-shadow: 0px 3px 14px 0px rgba(0, 11, 40, 0.06);
    border-top: 4px solid transparent;
    transition: all 0.2s linear;
    width: 100%;
    float: left;
    cursor:pointer;

}
.section_content:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow:0px 30px 40px 0px rgba(0, 11, 40, 0.08);
    border-color: #541b7a;
}
.our-team .content-dis h3{margin-top: 0px;text-align: center;font-size: 22px;margin-bottom: 20px;color: #541b7a;}
.our-team .content-dis p{font-size: 15px;text-align: left;text-align: center;line-height: 18px;font-weight: 400;height: 90px;overflow: hidden;color: #262626;}
.our-team h2.text-center{font-size:34px;margin-top:10px;margin-bottom:15px;}
.page-careers .btn-orange:hover, .page-careers .btn-orange::after, .page-careers .btn-orange:focus, .btn-orange:visited {
    background: #fff;
    border: 1px solid #5aba47;
    color: #5aba47;
}
.page-careers .form-group .control-label {
    position: absolute;
    top: 0px;
    pointer-events: none;
    padding-left: 2px;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1em;
    font-weight: normal;
    transition: all 0.28s ease;
}
.page-careers .form-group .bar::after {
    right: 50%;
}
.page-careers .form-group .bar::before, .form-group .bar::after {
    content: '';
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: #F68620;
    transition: all 0.28s ease;
    z-index: 2;
}
.page-careers .form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}
.page-careers .form-group input {
    height: 1.9rem;
}
.accordion-section .row li
{
    list-style: none;
}
.page-careers .middle-block {
    xfloat: none;
    margin: 0 auto;
}
.accordion {
    xoverflow: hidden;
}
.page-careers .table-header {
    margin: 1em 0 0 0;
    padding: 6px 0px 2px;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid rgb(226, 226, 226);
    font-size: 14px;
    font-weight: 600;
}
.page-careers .job:nth-child(1) {
    border-left: 0;
    border-right: 0;
}
.page-careers .job {
    border-bottom: 1px solid #e3e3e3;
    border-left: 0;
    margin: 0;
    border-right: 0;
}
.page-careers .job {
    padding: .5em 0em;
}
.page-careers ul.table-header li, .accordion-section ul li {

    xpadding: 0px;
text-align: left;
font-weight: normal;
}
.accordion-section > ul li {

    line-height: 25px;
    vertical-align: middle;

}
.page-careers .job li h5 {

    font-size: 11px;
    color: #585858;

}
.page-careers .job .visible-xs {

    display: inline-block !important;

}
.page-careers .job li .icon-sec h5 
{
    color: #F68620;
}
.job .col-xs-12.col-md-2.col-sm-2.text-right {
    text-align: right;
}
.page-careers h3.new-style {
    text-align: left;
    font-size:18px;
    color: #541b7a;
}

.middle-block:before{
    content:'';
    background-image: url(../images/careers/wave3.png);
    position:absolute;
    width:100%;
    height:115px;
    background-size:cover;
    background-position:100%;
    bottom: -115px;
    transform: rotate(180deg);
}
.middle-block{ background:rgb(247, 237, 255);padding: 50px 10px;padding-bottom:0px;}
.middle-block  .content{padding: 32px;text-align: justify;padding-top: 0;padding-right: 0;word-break: break-word;}
.career_img{text-align: center;}
 .career_img img{
    height: 220px;
    margin: 0 auto;
    width: 270px;
    object-fit: cover;
}
.middle-block{}

.page-careers h3.new-style.title {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}
.maring-bottom-sec
{
    margin-top: 10px;
}
.container.container-maring-no-pad
{
   margin-top: 0px;

background-color: #fff;

padding-top: 30px;
}
.hero-text
{
    text-shadow: 0 0 2px rgba(0,0,0,2.2);
position: absolute;
bottom: 40px;
text-align: center;
width: 100%;
color: #fff;
font-weight: 100;
}
.team-blade {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.static ul.social li img {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
.static ul.social li {
    display: inline-block;
    margin-right: .5em;
}
.static  span.orange-bar, .static  span.orange-bar {
    background: #5aba47;
    height: 3px;
    width: 45px;
    margin: 1em auto;
    display: inline-block;
}
.title.title-our-story
{
color: #fc8019;
margin-top: 30px;
margin-bottom: 30px;
}
.team-member .col-md-3.col-sm-3.text-center {
    list-style: none;
    margin-bottom: 30px;
}
.team-blade {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.person-name
{
    color: #fc8019;
    font-size: 14px;
}
.static .col-md-4.col-sm-4.text-center {
    margin-bottom:30px
}
.static .founders h3, .static .managers h3 {
    color: #5aba47;
    font-size: 16px;
}
.static {
    float: left;
    width: 100%;
}
.blog-sec .entry-title a {
    color: #1a1a1a;
}
.post-inner-content {
    padding:0px 40px 40px;
    background-color: #fff;
    border: 1px solid #dadada;
    margin-bottom: 30px;
    display: table;
}
.entry-meta a {
    font-size: 13px;
    color: #6B6B6B;
}
.fa-calendar::before {
    content: "\f073";
}
.entry-meta span {
    margin-right: 10px;
}
.blog-sec ul.social li img {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    text-align: left;
    float: left;
    border-top: 1px solid #ddd;
}
.blog-sec {

    margin-top: 30px;
    margin-bottom: 30px;
}
.blog-sec .btn.btn-default.read-more {
    background-color: #fc8019;
    color: #fff;
    border:1px solid #fc8019;
}
.posted-on .fa
{
    color: #6b6b6b;
    border-color: 1px solid #6B6B6B;
}
 div.sharedaddy, .blog-item-wrap div.sharedaddy {
    clear: inherit;
    display: block;
    float: right;
}
.sd-content ul li {
    display: inline-block;
}
.sd-content ul {
    padding: 0 ;
    margin: 0 0 .7em 0 ;
    list-style: none ;
}
.well {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #DADADA;
    overflow: hidden;
    clear: both;
}
.es_widget_form_email {
    font-weight: normal;
}
.widget.social-icons-widget
{
margin-top: 40px;
}
ul.app-links li {
    border: 0;
    display: inline-block;
    max-width: 142px;
}
.app-links
{
    margin:0px;
    padding:0px;
}
.blog-sec  #secondary .widget:last-child {
    margin-bottom: 0px;
}
.blog-sec  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
  .main-content-area .widget > h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    color: #585858;
}
.main-content-area   #secondary .widget {
    margin-bottom: 50px;
    color: #C1C0C0;
    overflow: hidden;
}
.widget ul li {
    list-style: none;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.social-icons-widget ul li {
    display: inline-block;
    margin: 0 6px 10px 0;
        margin-bottom: 10px;
}
.es_button .es_textbox_button.es_submit_button.btn.btn-default {
    background-color: #fc8019;
    border-color: #fc8019;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.widget select {
    max-width: 100%;
height: 31px;
width: 60%;
}
.app-links img
{
    height: auto;
max-width: 100%;
}
.section1{margin-top: 40px;margin-bottom: 40px;}
.section1 h1{
    color:#55207a;
    font-size: 48px;
}
.section2{
    background-color: #440b6c;
}
.section2 .content-div{padding:50px;padding-left:30px;}
.section2 .content-div p{
    color:#fff;
    font-size:16px;
    font-weight:600;
}
.section2 .content-div h1{
    color: #d7df22;
    font-size:42px;
    font-weight:600;
}
.section2 .content-div ul{
    padding-left: 0px;
    list-style-type: none;
    color: #fff;
    font-size:16px;
    font-weight:600;
}
.section2 .content-div ul li{
    list-style-type: none;    
}
.section2 .content-div ul li svg{
      margin-right: 10px;
    font-size: 17px;
    margin-top: 3px;
    color: #d7df22;

}
.section2{
    margin-bottom:40px;
}
.section3{
    background-color:#d7de36;
    padding: 50px 0;
}
.footer-about-us p{
    font-size: 22px;
    max-width: 910px;
    color: #606060;
}
.section3 .botm-image.tc .sone,.section3 .botm-image.tc .stwo{text-align: left;}
.section3 .botm-image.tc{margin: 13px 0;}
.background-pannel{background-image: url('../../../images/About-us-panel.jpg');background-repeat:no-repeat;height:350px;width:100%;background-position: 100%;background-size: cover;margin-bottom: 40px;}
.about_us_pge .second-section p{padding-bottom:0px;margin-bottom:0px;}
.container_970{width: 970px;max-width: 100%;margin:auto;}
.banner-sec .banner-img {width: 100%;max-height: 500px;object-fit: cover;}
.circle-block img.img-circle {height: 180px;}
ul.social {padding: 0px;}
.error_page {padding: 40px 0px;text-align: center;}
.error_page .text-hero {font-size: 160px;}
.error_page h1 {font-size: 51.98102000000001px;}
.error_page .btn-ghost.btn-white {background-color: #e04f67;color: #ffffff;}
.terms-section p {word-break: break-word;}
.about-us-page{width: 100%;float: left;padding: 30px 30px;padding-top: 0px;}

.phone-img{    height: 322px;object-fit: cover;}
.banner-sec .logo-sec{width: 207px;height: 212px;position: absolute;left: 85px;cursor: pointer;}

.career_sub_page .title{
    padding: 25px 0 23px 0;
    background: linear-gradient(90deg, rgba(84,27,122,1) 0%, rgba(115,29,173,1) 43%, rgba(139,84,176,1) 100%);

    color: #fff;
    margin-bottom:20px;
}   
.career_sub_page .title h2{
    margin: 0;
}
.sub-contnet .title_sub{
    padding-left: 25px;
    padding-bottom: 15px;
    background-color:#fff;
    color:#262626;
}
.sub-contnet .roles_div ul{
    padding: 0px 25px;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
}
.sub-contnet .roles_div ul li{
    padding-bottom:15px;
}
.roles_div:after{
    content: "";
    border-right: 2px solid #d7d7d7 ;
    height: 100%;
    position: absolute;
    left: 49.6%;
}
.roles_div{
    padding-top: 30px;
    margin-bottom: 55px;
}
.roles_div.no_border:after{
    border-right: unset!important;
}

.sub_title p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.sub_title ul{
    margin-top: 20px;
}
.sub_title ul li{
    font-size: 16px;
    font-weight: 400;
}
.roles_div p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    word-break: break-word;
    padding-left: 23px;
    padding-right: 41px;
    padding-bottom: 15px;
}
.breadcrumb-box {
    border-bottom: 1px solid #ccc;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 10px;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
}
.breadcrumb .breadcrumb-item a {
    color: #7a7a7a;
    font-size: 16px;
    text-decoration: none;
    background-color: transparent;
}
.breadcrumb .breadcrumb-item.active {
    color:#5a1b85;
    font-size: 16px;
    font-weight:bold;
}
    .navbar-right.snav-acolor{
        padding-top: 8px;
    }
    .navbar-header{
        padding-bottom: 19px;
    }
    .carrer_page .carousel-inner .item img{
        width:100%;height:580px;object-fit:cover;
    }
.btn-normal.btn_apply{
    margin-bottom: 25px;
    border: none;
    background-color: #541b7a;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
    padding: 7px 26px 10px;
    color: #fff;
    outline:unset;
}
.btn-normal.btn_apply:hover{color: #fff!important;}
.infomation .modal-body p{
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}
.infomation .close{
    position: absolute;
    top: -20px;
    right: -23px;
    z-index: 9;
    opacity: 3;
    color: #26083a;
    background-color: #fff;
    padding: 0px 9px;
    font-size: 29px;
    border-radius: 50%;
    outline: unset;
}
.infomation .modal-header,.infomation  .modal-footer{border:0px;}
.infomation .modal-dialog.modal-sm{top: 110px;}
.infomation .modal-header{padding: 0;}
.infomation .modal-body{padding: 30px 10px 30px;}
@media only screen and (max-width: 768px) {
.middle-block .content{padding-left:0px;}
.phone-img{margin-top:40px;}
.section1 h1{font-size:32px;}
    .carrer_page .carousel-inner .item img{
    height:100%;
    }
.middle-block:before{background-image:unset;}
.middle-block{background-color:#fff;}
.page-careers h3.new-style.title{font-size:26px;}
.career_img img{height:100%;}
.our-team{padding-top: 20px;}
.our-team h2.text-center{font-size: 26px;}
.our-team .container .main{margin-top:15px;}
.roles_div:after{border:0px;}
.sub-contnet .roles_div ul{padding:0px!important}
}